/* Form Fieldset */
.uc-override-checkout{
	padding:0 30px;
}
.uc-override-checkout fieldset {
	position:relative;
	margin:0 0 15px 0;
	padding: 30px 10px 10px 10px;
	background-color:#e9f9ac;
	background-color:#FFF;
	border-width:1px 2px 2px 2px;
	border-style:solid;
	border-color:#CCC;
	font-family:Arial, Helvetica, sans-serif ;
	font-size:small;
}
.uc-override-checkout legend {
	line-height: 100%;
	position:absolute;
	padding: 10px 0px;
	background-color:#ecefcb;
	border:none;
	font-weight:bold;
	text-transform:uppercase;
	font-size:100%;
	text-align:left;
	text-indent:10px;
	width:100%;
	top: -30px;	
	left:-10px;
	background:url(http://21cbi.drupal7.me/sites/default/themes/zen/cbi/images/bg-navigation.jpg) no-repeat top left;
} 
.uc-override-checkout fieldset .form-item{	
	margin:5px 0;
	padding: 0;
}
.uc-override-checkout fieldset .fieldset-item{
	width:90%;
}
.uc-override-checkout fieldset td{
	padding: 0 3px;
}
.uc-override-checkout fieldset input, .uc-override-checkout fieldset select, .uc-override-checkout fieldset textarea, .uc-override-checkout fieldset input checkbox{
	border:1px #CCC solid;
	background:#FFF;
}
.uc-override-checkout fieldset label{
	width:150px;
}
.uc-override-checkout fieldset .description
, .uc-override-checkout .fieldset-description {
	display:none;
}
.uc-override-checkout fieldset .form-text{
	width:200px;
}
.uc-override-checkout fieldset label a, .uc-override-checkout fieldset .description a{
	font-weight:bold;
}

/* override ubercart */
.uc-store-address-field .form-item label { 
	width:100px;
}













.uco-checkout{
	padding:0 30px;
	font-size:12px;
}
.uco-checkout .pane-delivery
, .uco-checkout .pane-billing{
	height:480px;
}

  .uco-checkout .pane-delivery #edit-panes-delivery-delivery-zone
, .uco-checkout .pane-delivery #edit-panes-delivery-delivery-country
, .uco-checkout .pane-billing #edit-panes-billing-billing-zone
, .uco-checkout .pane-billing #edit-panes-billing-billing-country
{
	width:250px;
}

.uco-checkout .uco-pane{
	border-color:#CCC;
	border-style:solid;
	border-width:1px 2px 2px 2px;	
}
.uco-checkout .uco-pane .uco-title{
	background:url(../images/bg-navigation.jpg) no-repeat top left;
	height:40px;
	line-height:40px;
	font-weight:bold;
	text-indent:15px;
}
.uco-checkout .uco-pane .uco-content{
	padding:0 15px 15px 15px;
}
.uco-checkout .uco-line{
	margin:15px 0;
}
.uco-checkout .pane-left{
	width:49%; padding:0 1% 0 0; float:left;
}
.uco-checkout .pane-right{
	width:49%; padding:0 0 0 1%; float:right;
}
